.cards-container {
    /* border: 2px solid black; */
    display: flex;
    flex-flow: row wrap;
    padding: 20px;
    gap: 1rem;
    justify-content: center;
}

.the-card {
    background-color: rgb(255, 255, 255);
    padding: 10px 20px;
    width: 30%;
    min-width: 310px;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0, 1);
    display: flex;
    flex-flow: column wrap;
    justify-content: space-between;
    align-content: center;
}

.CircularProgressbar-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.CircularProgressbar-container span {
    font-weight: 700;
    color: rgb(59, 59, 59);
}

.CircularProgressbar {
    cursor: pointer;
    transition: all 0.8s cubic-bezier(0.175, 0.885, 0, 1);
}

.CircularProgressbar:hover {
    transform: scale(1.1, 1.1);
}

.card-details {
    display: flex;
    flex-direction: column;
    padding-top: 1rem;
    width: 100%;
    /* align-content: space-between; */
    height: 250px;
    justify-content: space-around;
    color: rgb(255, 255, 255);
    background-image: url('https://d3njjcbhbojbot.cloudfront.net/api/utilities/v1/imageproxy/https://d15cw65ipctsrr.cloudfront.net/8a/f7f459f9674408947edb8e594a5da3/1200x600_PgM.png?auto=format%2Ccompress%2C%20enhance&dpr=1&w=265&h=216&fit=crop&q=50');
    background-size: contain;
    background-size: cover;
    transition: transform 0.3s ease;
}

.the-card:hover {
    cursor: pointer;
    transform: scale(0.9);
}

.card-title {
    color: rgb(255, 255, 255);
    font-size: 1.5rem;
    font-weight: 900;
    cursor: pointer;
    padding: 0 1rem 0;
}

.card-title:hover {
    text-decoration: underline;
}



.card-subtitle {
    color: rgb(255, 255, 255);
    font-size: 1rem;
    font-weight: 600;
    padding: 0 1rem 0;}

.card-teacher {
    color: rgb(255, 255, 255);
    padding: 0 1rem 0;}

.enrollbtn,
.calendly-button {
    display: block;
    padding: 10px 20px;
    margin: auto;
    color: white;
    background-color: rgb(0, 123, 255);
    width: 150px;
    margin-top: 10%;
    font-size: 16px;
    height: 50px;
    font-weight: bold;
    text-align: center;
    text-decoration: none;
    border-radius: 40px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s, color 0.3s, box-shadow 0.3s;

    
}

.calendly-button {
    width: fit-content;
}

.calendly-button:hover,.enrollbtn:hover {

    background-color: rgb(53, 150, 53);

}

.progress-container {
    display: flex;
    justify-content: space-around;
}

.progress-details {
    display: flex;
    width: 100%;
    gap: 2rem;
    align-items: center;
}

.CircularProgressbar-container {
    display: flex;
    padding-top: 5px;
}

.enroll-btn-container {
    display: flex;
    align-items: center;
}

.enroll-btn-container {
    display: flex;
    height: 120px;
    align-items: center;
}