.app {
  background-color: rgb(255, 255, 255);
  border: 1px solid #ccc;
  width: 600px;
  min-height: 250px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 280%;
  margin-top: -20%;
  top: 50;
  left: 80;
}

.score-section {
  color: rgba(0, 0, 0, 0.9);
  display: flex;
  font-size: 24px;
  align-items: center;
}

.question-section {
  width: 100%;
  border: 1px solid #ccc;
}

.question-count {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 20px;
}

.question-count span {
  font-size: 28px;
  color: rgba(0, 0, 0, 0.9);
}

.question-text {
  color: rgba(0, 0, 0, 0.9);
  margin-bottom: 12px;
}

.answer-section {
  width: 100%;
  margin-left: -30;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.answer-btn {
  background-color: #007bff;
  color: white;
  border: none;
  border-radius: 3px;
  padding: 5px 10px;
  height: 30px;
  cursor: pointer;
  justify-content: center;
  align-items: center;
  width: 50%;
  margin-top: 10px;
  margin-left: 20px;
}
